#container {
    cursor: crosshair;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/backdrop.png");
    background-size: contain;
    position: center;
}
#duck {
    width: 75px;
    height: 75px;
    background-image: url("../images/duckright.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

#dog {
    width: 100px;
    height: 100px;
    background-image: url("../images/dogwalk.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

navbar {
    background-color: transparent;
}