#container {
    cursor: crosshair;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/backdrop.png");
    background-size: contain;
    position: center;
}

#menuContainer {
    cursor: grab;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/duckhuntmain.jpg");
    background-size: auto;
    position: center;
}

#duck {
    width: 75px;
    height: 75px;
    background-image: url("../images/duckright.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

#dog {
    cursor: not-allowed;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

#lifePoint {
    text-shadow: 4px 4px black;
    color: red;
    font-weight: bold;
    font-size: xx-large;
}

#score {
    text-shadow: 4px 4px black;
    font-weight: bold;
    font-size: x-large;
    color: white;
}