#container {
    cursor: crosshair;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/backdrop.png");
    background-size: contain;
    position: center;
}

#menuContainer {
    cursor: grab;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/duckhuntmain.jpg");
    background-size: auto;
    position: center;
}

#duck {
    width: 75px;
    height: 75px;
    background-image: url("../images/duckright.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

#dog {
    cursor: not-allowed;
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

navbar {
    background-color: transparent;
}


.block {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    background-color: #4CAF50;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}